<!--The content below is only a placeholder and can be replaced.-->
 <app-slide-show></app-slide-show> 

<router-outlet></router-outlet>




<!-- MAIN (Center website) -->

<body>
<div class="main">

  <h1>PRODUCTS</h1>
  <hr>
  
  <h2>Health counts to your success</h2>
  
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="assets/personal/n.jpg" alt="Mountains" style="width:100%; height:120px;">
        <h3>Lotions</h3>
        <p>Smother skin</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/personal/s3.jpg" alt="Lights" style="width:100%; height:120px;">
        <h3>Face Creams</h3>
        <p>for glowing skin</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/personal/l1.jpg" alt="Nature" style="width:100% ; height:120px;">
        <h3>Hand Wash</h3>
        <p>Germ Free</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/personal/n2.jpg" alt="Mountains" style="width:100%; height:120px;">
        <h3>Nivea Body Care</h3>
        <p>Soft and Smooth Skin</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <img src="assets/personal/img.jpg" alt="Bear" style="width:100%">
    <h3>Health sums up to the best of one</h3>
    <p>Lets start a fresh day...</p>
  </div>
  
  <!-- END MAIN -->
  </div>
</body>



