
<h3 align="center">Forgot Password</h3>


<form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-6 offset-sm-3">
        <div class="form-group">
            <label for="emialid">Email Id</label>
            <input type="email" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
            <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
               <div *ngIf="f.emailid.errors.required">Email Id is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="userid">Password</label>
            <input type="text" formControlName="userid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }" />
            <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
                <div *ngIf="f.userid.errors.required">User Id is required</div>
            </div>
        </div>
        <div class="form-group" >
            <button [disabled]="loading" class="btn btn-primary">submit</button>
            
           <!--  <a routerLink="/register" class="btn btn-link">Register</a> -->
        </div>
    </div>
    </form>